body{
    background-color: white;
    font-family: 'Urbanist', sans-serif;
    margin-top: 1%;
    padding-top: 1%;
}
.header{  
    text-align: center;

}

#flag{
  width: 100% ;
  height: 175px ;
  transition: 0.4s;
  object-fit:fill ;
   
}

#info_button{
    display: none;
}
#google_search{
    display: none;
}
#refresh_button{
    display: none;
}
